<IfModule mod_ssl.c>
    <VirtualHost _default_:443>

        ServerName {{ item.server_name }}
        ServerAdmin {{ item.server_admin }}
        DocumentRoot {{ item.document_root }}

        SSLEngine on

        SSLCertificateFile {{ ssl_cert_path }}
        SSLCertificateKeyFile {{ ssl_key_file }}

        {% if ssl_chain_file is defined: %}
        #SSLCertificateChainFile /etc/apache2/ssl.crt/server-ca.crt
        {% endif %}

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        <Directory {{ item.document_root }}>
            AllowOverride All
            order allow,deny
            allow from all
        </Directory>

        <FilesMatch "\.(cgi|shtml|phtml|php)$">
            SSLOptions +StdEnvVars
        </FilesMatch>
        <Directory /usr/lib/cgi-bin>
            SSLOptions +StdEnvVars
        </Directory>

    </VirtualHost>
</IfModule>